span {
  display: inline-block;
  /* ブロック要素の中央揃え*/
  margin: 0 auto;
  width: 100px;
  height: 400px;
  background-color: magenta;
}

.cls {
  /* クラス定義 */
}

#first {
  /* id定義 */
}

/* 詳細度はid>class>tagの順番 */